<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="code-camp-builder-modules" name="Builder demo modules from Code Camp 2017" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in is written during Code Camp 2017 to demonstrate new builder module plug-ins.</Description>
      <Authors>
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>GNU General Public License Version 3, 29 June 2007. https://www.gnu.org/licenses/gpl-3.0.en.html</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="CodeCampBuilderModules" name="code-camp-builder-modules.dll" />  
    
  </Extension>
     
</SobekCM_Config>
